@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');


/*=====HEAD SECTION=====*/
.github{
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover{
    font-size: 35px;
    text-decoration: none;
    color:black;
    margin-top: 10px;
    text-decoration: none;
}

.title{
    font-family: 'Hanalei Fill', cursive;
    font-size: 50px;
}

/*=====TIC-TAC-TOE SECTION=====*/
.gameboard{
    width: 315px;
    height: 315px;
    margin: auto;
}


#winnerMessage{
    font-family: 'Hanalei Fill', cursive;
    padding-top: 5px;
    font-size: 50px;
    color: blue;

}

#restart{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}

.square{
    float: left;
    background: rgba(255,255,255,.4);
    width: 105px;
    height: 105px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
}

.ex{
    background-color: white;

}

.oh{
    background-color: white;
}

body{
    background: no-repeat center center fixed;
    background-image: url('https://madure.files.wordpress.com/2011/05/wood.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

.author{
    font-size: 13px;
    margin-top: -15px;
    margin-left: 83px;
    margin-bottom:30px;
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
}

.scoreBoard{
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 20px;
    table-layout: fixed;
    text-align: center;

}

table, td, th {
    border: 1px solid black;
    text-align: center; 
    font-weight: bold;
}

table th{
    background-color: lightblue;
}