
/*=====HEAD SECTION=====*/
.github{
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover{
    font-size: 35px;
    text-decoration: none;
    color:black;
    margin-top: 10px;
    text-decoration: none;
}

/*=====TIC-TAC-TOE SECTION=====*/
.gameboard{
    width: 315px;
    height: 315px;
    margin: auto;
}

.square{
    float: left;
    background: rgba(255,255,255,.9);
    width: 105px;
    height: 105px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 70px;
}

.ex{
    background-color: white;

}

.oh{
    background-color: white;
}

body{
    background: no-repeat center center fixed;
    background-color: lightblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.marginTop{
    margin-top: 25px;
}

.author{
    font-size: 12px;
    margin-top: -15px;
    margin-left: 85px;
    margin-bottom:30px;
}

#restart{
    display: block;
}
