body{
    margin: 0px;
    margin-top: 10px;
    background-color: blue;
    text-align: center;
}

.col{
    display: inline-block;
    width:90px;
    height: 90px;
    text-align:center;
    background-color: white;
    font-size: 40px;
    padding: 20px;
}

/*=====HEAD SECTION=====*/
.github{
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover{
    font-size: 25px;
    text-decoration: none;
    color:white;
    margin-top: 10px;
    text-decoration: none;
}
.title{
    color: white;
}
.author{
    color: white;
    margin-top: -12px;
    margin-left: 90px;
    font-size: 12px;
    margin-bottom: 50px;
}

.btn{
    margin-top: 20px;
}